@use '../../styles/variables';

.hero {
    position: relative;
    overflow: hidden;

    .subjectSearch {
        display: none;
    }

    .sliderBtn {
        width: 30px;
        height: 30px;
        background: #00000073;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        transition: background 0.3s ease-in;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &[data-dir="left"] { left: 10px; }
        &[data-dir="right"] { right: 10px; }
        &:hover { background: #ffffff27; } 

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .carouselIndicators {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        
        button {
            margin-right: 0.5rem;
            width: 12px;
            height: 12px;
            background: none;
            border: none;
            transition: width 0.3s ease-out;
            opacity: 0.7;
            cursor: pointer;

            &[data-active] {
                width: 16px;
                opacity: 1;
            }
        }
    }

    .carouselContainer {
        display: flex;
        position: relative;
        transition: transform 0.3s ease-in-out;
        height: 520px;

        .categoryHighlight {
            background-size: cover;
            background-color: rgba(0, 0, 0, 0.4);
            background-blend-mode: multiply;
            background-position: center;
            min-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &[data-highlight="1"] { background-image: url("../../../images/hero-1.webp"); }
            &[data-highlight="2"] { background-image: url("../../../images/hero-2.webp"); }
            &[data-highlight="3"] { background-image: url("../../../images/hero-3.webp"); }
            &[data-highlight="4"] { background-image: url("../../../images/hero-4.webp"); }

            .wrapper {
                display: grid;
                grid-template-columns: 1fr auto;
                justify-content: center;
                gap: 1rem;
                color: variables.$text-color-primary;
                width: min(85vw, 600px);

                h1 {
                    align-self: flex-end;
                }

                a{
                    grid-column: 2/3;
                    grid-row: 3/4;
                }
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .categoryHighlight .wrapper {
        justify-items: center;

        p {
            text-align: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .hero .sliderBtn {
        &[data-dir="left"] { left: 5rem; }
        &[data-dir="right"] { right: 5rem; }
    }

    .hero .carouselContainer .categoryHighlight .wrapper {
        column-gap: 3.5rem;

        button {
            transform: translateY(-3rem);
        }

        a {
            transform: translateY(-3rem);
        }
    }
}
