@use '../../styles/variables';

.productCard {
    padding: 0.5rem;
    background: #fff;
    min-width: 170px;
    position: relative;
    height: 350px;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 1px solid #00000000;
        transition: border 0.3s ease-in-out;
    }

    &:hover::after {
        border: 1px solid green;
    }

    a {
        display: block;
        color: variables.$text-color-secondary;

        img {
            width: 100%;
            aspect-ratio: 1 / 1.5;
            object-fit: cover;
        }

        h3 {
            font-size: 0.8rem;
            font-family: variables.$font-stack-para;
        }

        span {
            font-size: 0.7rem;
            font-weight: 300;
            display: block;
            opacity: 0.7;

            &.price {
                font-size: 0.8rem;
                font-weight: bold;
                opacity: 0.9;
                position: absolute;
                left: 0.5rem;
                bottom: 2.4rem;
                
                @keyframes rotate {
                    to {transform: rotate(360deg);}
                }

                svg {
                    width: 15px;
                    animation: rotate 1s infinite linear;
                }
            }
        }
    }
}
