@use '../../../styles/variables';

%bookHeroContainer {
    height: 100%;
    width: 140px;
    height: 230px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.bookHeroResolved {
    @extend %bookHeroContainer;
    position: relative;
    transition: filter 0.2s ease-in-out;

    &:hover {
        filter: brightness(1.15);
    }

    a {
        color: #ffffffda;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        span {
            position: absolute;
            bottom: -60px;
            left: 0;
            font-size: 1.1rem;
            font-family: variables.$font-stack-para;
        }
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
}

.bookLoading {
    @extend %bookHeroContainer;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 50px;
        animation: rotate 0.7s infinite linear;
    }
}

.bookError {
    @extend %bookHeroContainer;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
        width: 50px;
    }

    span {
        color: red;
        position: absolute;
        bottom: -40px;
    }
}
