@use '../../../styles/variables';

%bookHeroContainer {
    width: 140px;
    height: 230px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    box-shadow: 1px 1px 5px #0000009a;
}

.bookHeroResolved {
    @extend %bookHeroContainer;
    position: relative;
    transition: filter 0.2s ease-in-out;

    &:hover {
        filter: brightness(1.15);
    }

    a {
        color: #ffffffda;

        &:hover img {
            transform: rotate(-10deg);

            &[data-book-bg] {
                transform: rotate(10deg) translateY(-30px);
            }
        }

        &:hover span {
            left: 10px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            transition: transform 0.3s ease;

            &[data-book-bg] {
                height: 90%;
                width: 90%;
                bottom: 0;
                filter: brightness(0.7);
            }
        }

        span {
            position: absolute;
            top: 110%;
            left: 0;
            font-size: 1.1rem;
            font-family: variables.$font-stack-header;
            transition: left 0.3s ease;
        }
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
}

.bookLoading {
    @extend %bookHeroContainer;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 50px;
        animation: rotate 0.7s infinite linear;
    }
}

.bookError {
    @extend %bookHeroContainer;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
        width: 50px;
    }

    span {
        color: red;
        position: absolute;
        bottom: -40px;
    }
}

@media screen and (min-width: 768px) {
    %bookHeroContainer {
        height: 250px;
        width: 160px;
    }

    .bookHeroResolved a img[data-book-bg] {
        right: -2rem;
    }
}   
