@use 'variables';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: variables.$font-stack-header;
}

h2 {
    font-size: 1.5rem;
    font-weight: lighter;
}

p {
    font-size: 14px;
    font-family: variables.$font-stack-para;
}
