@use 'variables';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: variables.$font-stack-header;
    font-weight: lighter;
}

h1 {
    font-size: 1.9rem;
}

h2 {
    font-size: 1.5rem;
}

p, span, a {
    font-family: variables.$font-stack-para;
}

p {
    font-size: 16px;
    font-weight: 300;
}

a {
    text-decoration: none;
}
