@use '../../styles/variables';

@keyframes sway {
    20% { transform: rotate(-15deg); } 
    40% { transform: rotate(15deg); } 
    60% { transform: rotate(-15deg); }
    80% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    background: burlywood;
    height: 3.5rem;
    min-width: 100%;
    padding: 0 10px;
    position: fixed;
    z-index: 5;
    top: 0;
    overflow: hidden;

    transition: top 0.3s ease-in-out;

    &[data-hide] {
        top: -3.5rem;
    }
}

.anchor {
    text-decoration: none;
    color: inherit;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    & * {
        pointer-events: none;
    }

    &:hover svg {
        animation: sway 0.5s;
    }

    svg {
        width: 35px;
    }

    h1 {
        font-size: 1.2rem;
    }
}

.search {
    margin-left: 10px;
    display: flex;

    input {
        height: 1.8rem;
        width: max(30vw, 7rem);
    }

    button {
        color: rgb(255 255 255 / 85%);
        background: #91724b;
        height: 1.8rem;
        width: 1.8rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background: rgba(145, 114, 75, 0.8);
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.cart {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.3);

        svg {
            animation: sway 0.5s;
        }
    }

    svg {
        width: 75px;
    }

    span {
        font-family: variables.$font-stack-header;
        font-size: 0.9rem;
        transform: translateY(4px);
        display: none;
    }
}

@media screen and (min-width: 568px) {
    .search {
        margin-left: 2rem;
    }

    .cart span {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0 25px;
    }
}
