.header {
    display: flex;
    justify-content: left;
    align-items: center;
    background: burlywood;
    height: 3.5rem;
    padding: 0 10px;
}

.anchor {
    text-decoration: none;
    color: inherit;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    & * {
        pointer-events: none;
    }

    @keyframes sway {
        20% { transform: rotate(-15deg); } 
        40% { transform: rotate(15deg); } 
        60% { transform: rotate(-15deg); }
        80% { transform: rotate(15deg); }
        100% { transform: rotate(0deg); }
    }

    &:hover svg {
        animation: sway 0.5s;
    }

    svg {
        width: 35px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

.search {
    margin-left: 10px;
    display: flex;

    input {
        height: 2rem;
        max-width: 7rem;
    }

    button {
        color: rgb(255 255 255 / 85%);
        background: #91724b;
        height: 2rem;
        width: 2rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.cart {
    margin-left: auto;

    svg {
        width: 25px;
    }
}
