%bookHeroContainer {
    width: 120px;
    height: 180px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.bookHeroResolved {
    @extend %bookHeroContainer;

    a {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
}

.bookLoading {
    @extend %bookHeroContainer;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 50px;
        animation: rotate 0.7s infinite linear;
    }
}

.bookError {
    @extend %bookHeroContainer;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
        width: 50px;
    }

    span {
        color: red;
        position: absolute;
        bottom: -40px;
    }
}
