@use '../../styles/variables';

.trending {
    background: variables.$bg-color-secondary;
    padding: 2rem 0;
    position: relative;
    height: 600px;

    .sectionTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: min(100vw, 1200px);
        margin: 1rem auto;

        h2 {
            text-wrap: nowrap;
            margin: 0 1.5rem;
        }

        span {
            height: 2px;
            opacity: 0.6;
            width: 100%;
            background: #000;
        }
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        display: flex;
        gap: 1rem;
        width: min(100vw, 1200px);
        overflow-x: scroll;
        box-shadow: 0 2px #ffffff26,inset 0 2px 2px #0003;
        background: variables.$bg-color-primary;
        padding: 1rem;
    }
}
